@import "../variables.scss";

.nav-item {
  button[data-unclickable="true"] {
    cursor: not-allowed;
    pointer-events: none;
  }
  .dropdown-menu {
    display: block;
    position: absolute;
    left: -1rem;
    margin-top: 2.5rem;
    width: 20rem;
    padding: 1rem;
    opacity: 0; /* Start with opacity at 0 */
    visibility: hidden; /* Hide content initially */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Transition opacity and visibility */

    .dropdown-item {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }

  &:hover {
    .dropdown-menu {
      opacity: 1; /* Fade in by changing opacity to 1 */
      visibility: visible; /* Make content visible */
    }
  }
}
