@import "../variables.scss";

.navBar {
  background-color: $backgroundColorDarker;
  padding: 1rem 3rem 1rem 3rem;
  #nav {
    display: flex;
    flex-direction: column;
    @import "../components/sideBar.scss";
    .headerFirstRow {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-bottom: 0.5rem;

      .headerContainer {
        width: 66%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        #header {
          width: 50%;
          display: flex;
          justify-content: center;
          img {
            width: 40rem;
          }
        }

        #headerIconContainer {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 2rem;
          svg {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
    #a {
      display: flex;
      align-content: center;
      font-size: 1.5rem;
      height: 3rem;
      position: relative;
      padding: 0.4em 0;
    }
    #a::after {
      content: "";
      position: absolute;
      bottom: 0.2rem;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: #fe4902;
      opacity: 0;
      transition: opacity 500ms, transform 500ms;
      transform: scale(0);
      transform-origin: center;
    }

    #a:hover::after,
    #a:focus::after {
      opacity: 1;
      transform: translate3d(0, 0.2em, 0);
      transform: scale(1);
    }
    @import "./dropDown.scss";
  }
}
@media (max-width: 1280px) {
  .navBar {
    #nav {
      .headerFirstRow {
        .headerContainer {
          #header {
            img {
              width: 30rem;
            }
          }

          #headerIconContainer {
            svg {
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .navBar {
    padding: 0.5rem 1rem 0.5rem 1rem;

    #nav {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: nowrap;

      .headerFirstRow {
        padding-bottom: 0.5rem;
        justify-content: center;

        .headerContainer {
          width: 100%;
          flex-direction: column;

          #header {
            width: auto;
            margin: 0;
            padding: 0;
            flex-grow: 1;
            img {
              width: 17rem;
            }
          }

          #headerIconContainer {
            padding-top: 1rem;
            justify-content: center;

            svg {
              width: 1.2rem;
              height: 1.2rem;
            }
          }
        }
      }
     
    }
  }
}
@media (max-width: 600px) {
  .navBar {
    padding: 0.5rem 1rem 0.5rem 1rem;

  }
}

