@import "../variables.scss";

.productStockStatusGridContainer {
  width: 40rem;
  margin: auto;
  border: 1px solid #9fa6b2;
  #row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 3rem;
    border-bottom: 1px solid #9fa6b2;
  }
  #wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 4rem;

    .singleCard {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .singleCardTop {
        border-bottom: 1px solid #9fa6b2;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
      }
      .singleCardBottom {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
      }
    }
    .singleCard:not(:last-child) {
      border-right: 1px solid #9fa6b2;
    }
  }
}

@media (max-width: 600px) {
  .productStockStatusGridContainer {
    width: 20rem;
    margin: auto;
    #row1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      height: 2rem;
    }
    #wrapper {
      height: 3rem;
      .singleCard {
        .singleCardTop {
        }
        .singleCardBottom {
        }
      }
    }
  }
}
