#myCarousel {
  height: 100%;
}
#myCarousel .carousel-inner .imgContainer {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
}
#myCarousel .carousel-inner .imgContainer .imgIs {
  object-fit: cover;
  width: 100%;
  object-position: 50% 25%;
}
#myCarousel .carousel-inner .imgContainer .imgKil {
  object-fit: cover;
  width: 100%;
  object-position: 50% 5%;
}
#myCarousel .carousel-inner .imgContainer .imgAsp {
  object-fit: cover;
  width: 100%;
  object-position: 50% 95%;
}
#myCarousel .carousel-inner .carousel-caption {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  left: 15%;
  align-items: center;
  gap: 0.5rem;
}
#myCarousel .carousel-inner .carousel-caption h5 {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 3px black;
}
#myCarousel .carousel-inner .carousel-caption button {
  display: inline-block;
  background: transparent;
  font-style: normal;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 3px black;
  border-radius: 0;
  width: 10rem;
  padding: 1rem 0 1rem;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgba(223, 190, 106, 0.8), rgba(146, 111, 52, 0.8), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  border: none;
  border: 1px solid rgba(223, 190, 106, 0.3);
}
#myCarousel .carousel-inner .carousel-caption button:hover {
  color: #fff;
  text-shadow: none;
  border: 1px solid rgba(223, 190, 106, 0);
  background-position: 99% 50%;
}
#myCarousel .carousel-indicators [data-bs-target] {
  width: 4rem;
  height: 0.3rem;
}
#myCarousel .carousel-control-prev {
  width: 10%;
}
#myCarousel .carousel-control-prev .carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
}
#myCarousel .carousel-control-next {
  width: 10%;
}
#myCarousel .carousel-control-next .carousel-control-next-icon {
  width: 4rem;
  height: 4rem;
}
#myCarousel .animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
#myCarousel .fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@media (max-width: 991px) {
  #myCarousel .carousel-inner .imgContainer {
    height: 25rem;
  }
}
@media (max-width: 600px) {
  #myCarousel .carousel-inner .imgContainer {
    height: 20rem;
  }
  #myCarousel .carousel-indicators [data-bs-target] {
    width: 3rem;
    height: 0.2rem;
  }
  #myCarousel .carousel-control-prev .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
  }
  #myCarousel .carousel-control-next .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
  }
}
@media (max-width: 415px) {
  #myCarousel {
    height: 13rem;
  }
  #myCarousel .carousel-inner .imgContainer {
    height: 13rem;
  }
  #myCarousel .carousel-inner .carousel-caption {
    position: relative;
    left: 0%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #myCarousel .carousel-inner .carousel-caption h5 {
    font-size: 2rem;
    color: black;
    text-shadow: none;
    margin-top: 1rem;
  }
  #myCarousel .carousel-inner .carousel-caption button {
    font-size: 1rem;
    color: black;
    text-shadow: none;
    width: 6rem;
    padding: 0.5rem 0 0.5rem;
    text-decoration: none;
  }
  #myCarousel .carousel-inner .carousel-indicators [data-bs-target] {
    width: 2rem;
    height: 0.1rem;
  }
  #myCarousel .carousel-inner .carousel-control-prev .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
  }
  #myCarousel .carousel-inner .carousel-control-next .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
  }
  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
}/*# sourceMappingURL=carousel.css.map */