@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#appContainer {
  background-color: white;
  font-family: "PT Sans Narrow", sans-serif;
}

.homePage .navBar {
  background-color: #f4f2eb;
  padding: 1rem 3rem 1rem 3rem;
}
.homePage .navBar #nav {
  display: flex;
  flex-direction: column;
}
.homePage .navBar #nav .sideBarMain {
  width: 15rem;
  background-color: white;
  height: 100vh;
  position: fixed; /* Fixed position */
  top: 0; /* Position it at the top */
  left: 0; /* Position it on the left */
  z-index: 1000;
  padding: 3rem 1rem 3rem 1rem;
  box-shadow: 5px -0.5px 5px #f4f2eb;
}
.homePage .navBar #nav .sideBarMain #sideBarNav {
  height: 100%;
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem {
  margin-bottom: 2rem;
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem .sideBarSubItemh1 {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem .sideBarSubItemh1 svg {
  width: 2rem;
  height: 2rem;
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem .sideBarSubItem {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  transition: color 0.3s ease;
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem .sideBarSubItem:hover {
  color: rgba(223, 190, 106, 0.7);
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem .sideBarSubItemBtn {
  display: inline-block;
  background: transparent;
  font-style: normal;
  font-size: 1.5rem;
  color: rgba(223, 190, 106, 0.7);
  border-radius: 0;
  width: 100%;
  padding: 1rem 0 1rem;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgba(223, 190, 106, 0.8), rgba(146, 111, 52, 0.8), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  border: none;
  border: 1px solid rgba(223, 190, 106, 0.3);
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem .sideBarSubItemBtn:hover {
  color: #fff;
  border: 1px solid rgba(223, 190, 106, 0);
  background-position: 99% 50%;
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem #accordionExample .accordion-item {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem #accordionExample .accordion-header .accordion-button {
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  color: inherit;
  font-size: inherit; /* Inherit font size */
  text-align: inherit; /* Inherit text alignment */
  padding: 0;
  box-shadow: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem #accordionExample .accordion-header .accordion-button:hover {
  color: rgba(223, 190, 106, 0.7);
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem ul {
  display: flex;
  flex-direction: column;
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem ul .accordion-subItem {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  padding: 0.2rem 0 0.2rem 0;
}
.homePage .navBar #nav .sideBarMain #sideBarNav .sideBarItem ul .accordion-subItem:hover {
  color: rgba(223, 190, 106, 0.7);
}
.homePage .navBar #nav .headerFirstRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}
.homePage .navBar #nav .headerFirstRow .headerContainer {
  width: 66%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.homePage .navBar #nav .headerFirstRow .headerContainer #header {
  width: 50%;
  display: flex;
  justify-content: center;
}
.homePage .navBar #nav .headerFirstRow .headerContainer #header img {
  width: 40rem;
}
.homePage .navBar #nav .headerFirstRow .headerContainer #headerIconContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.homePage .navBar #nav .headerFirstRow .headerContainer #headerIconContainer svg {
  width: 2rem;
  height: 2rem;
}
.homePage .navBar #nav #a {
  display: flex;
  align-content: center;
  font-size: 1.5rem;
  height: 3rem;
  position: relative;
  padding: 0.4em 0;
}
.homePage .navBar #nav #a::after {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #fe4902;
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
  transform: scale(0);
  transform-origin: center;
}
.homePage .navBar #nav #a:hover::after,
.homePage .navBar #nav #a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
  transform: scale(1);
}
.homePage .navBar #nav .nav-item button[data-unclickable=true] {
  cursor: not-allowed;
  pointer-events: none;
}
.homePage .navBar #nav .nav-item .dropdown-menu {
  display: block;
  position: absolute;
  left: -1rem;
  margin-top: 2.5rem;
  width: 20rem;
  padding: 1rem;
  opacity: 0; /* Start with opacity at 0 */
  visibility: hidden; /* Hide content initially */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Transition opacity and visibility */
}
.homePage .navBar #nav .nav-item .dropdown-menu .dropdown-item {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.homePage .navBar #nav .nav-item:hover .dropdown-menu {
  opacity: 1; /* Fade in by changing opacity to 1 */
  visibility: visible; /* Make content visible */
}
@media (max-width: 1280px) {
  .homePage .navBar #nav .headerFirstRow .headerContainer #header img {
    width: 30rem;
  }
  .homePage .navBar #nav .headerFirstRow .headerContainer #headerIconContainer svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media (max-width: 991px) {
  .homePage .navBar {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  .homePage .navBar #nav {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  .homePage .navBar #nav .headerFirstRow {
    padding-bottom: 0.5rem;
    justify-content: center;
  }
  .homePage .navBar #nav .headerFirstRow .headerContainer {
    width: 100%;
    flex-direction: column;
  }
  .homePage .navBar #nav .headerFirstRow .headerContainer #header {
    width: auto;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
  .homePage .navBar #nav .headerFirstRow .headerContainer #header img {
    width: 17rem;
  }
  .homePage .navBar #nav .headerFirstRow .headerContainer #headerIconContainer {
    padding-top: 1rem;
    justify-content: center;
  }
  .homePage .navBar #nav .headerFirstRow .headerContainer #headerIconContainer svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}
@media (max-width: 600px) {
  .homePage .navBar {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}
.homePage #myCarousel {
  height: 100%;
}
.homePage #myCarousel .carousel-inner .imgContainer {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
}
.homePage #myCarousel .carousel-inner .imgContainer .imgIs {
  object-fit: cover;
  width: 100%;
  object-position: 50% 25%;
}
.homePage #myCarousel .carousel-inner .imgContainer .imgKil {
  object-fit: cover;
  width: 100%;
  object-position: 50% 5%;
}
.homePage #myCarousel .carousel-inner .imgContainer .imgAsp {
  object-fit: cover;
  width: 100%;
  object-position: 50% 95%;
}
.homePage #myCarousel .carousel-inner .carousel-caption {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  left: 15%;
  align-items: center;
  gap: 0.5rem;
}
.homePage #myCarousel .carousel-inner .carousel-caption h5 {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 3px black;
}
.homePage #myCarousel .carousel-inner .carousel-caption button {
  display: inline-block;
  background: transparent;
  font-style: normal;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 3px black;
  border-radius: 0;
  width: 10rem;
  padding: 1rem 0 1rem;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgba(223, 190, 106, 0.8), rgba(146, 111, 52, 0.8), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  border: none;
  border: 1px solid rgba(223, 190, 106, 0.3);
}
.homePage #myCarousel .carousel-inner .carousel-caption button:hover {
  color: #fff;
  text-shadow: none;
  border: 1px solid rgba(223, 190, 106, 0);
  background-position: 99% 50%;
}
.homePage #myCarousel .carousel-indicators [data-bs-target] {
  width: 4rem;
  height: 0.3rem;
}
.homePage #myCarousel .carousel-control-prev {
  width: 10%;
}
.homePage #myCarousel .carousel-control-prev .carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
}
.homePage #myCarousel .carousel-control-next {
  width: 10%;
}
.homePage #myCarousel .carousel-control-next .carousel-control-next-icon {
  width: 4rem;
  height: 4rem;
}
.homePage #myCarousel .animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.homePage #myCarousel .fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@media (max-width: 991px) {
  .homePage #myCarousel .carousel-inner .imgContainer {
    height: 25rem;
  }
}
@media (max-width: 600px) {
  .homePage #myCarousel .carousel-inner .imgContainer {
    height: 20rem;
  }
  .homePage #myCarousel .carousel-indicators [data-bs-target] {
    width: 3rem;
    height: 0.2rem;
  }
  .homePage #myCarousel .carousel-control-prev .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
  }
  .homePage #myCarousel .carousel-control-next .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
  }
}
@media (max-width: 415px) {
  .homePage #myCarousel {
    height: 13rem;
  }
  .homePage #myCarousel .carousel-inner .imgContainer {
    height: 13rem;
  }
  .homePage #myCarousel .carousel-inner .carousel-caption {
    position: relative;
    left: 0%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .homePage #myCarousel .carousel-inner .carousel-caption h5 {
    font-size: 2rem;
    color: black;
    text-shadow: none;
    margin-top: 1rem;
  }
  .homePage #myCarousel .carousel-inner .carousel-caption button {
    font-size: 1rem;
    color: black;
    text-shadow: none;
    width: 6rem;
    padding: 0.5rem 0 0.5rem;
    text-decoration: none;
  }
  .homePage #myCarousel .carousel-inner .carousel-indicators [data-bs-target] {
    width: 2rem;
    height: 0.1rem;
  }
  .homePage #myCarousel .carousel-inner .carousel-control-prev .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
  }
  .homePage #myCarousel .carousel-inner .carousel-control-next .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
  }
  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .homePage .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
}
.homePage .collectionsMainContainer {
  padding-top: 2rem;
  margin: auto;
  width: 80%;
}
.homePage .collectionsMainContainer h1 {
  text-align: center;
  font-size: 5rem;
  padding-bottom: 4rem;
}
.homePage .collectionsMainContainer .collectionsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.homePage .collectionsMainContainer .collectionsCards .collectionCard {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 25rem;
  gap: 0.5rem;
  margin-bottom: 4rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.homePage .collectionsMainContainer .collectionsCards .collectionCard .collectionCardImg {
  width: 95%;
  height: 20rem;
  overflow: hidden;
}
.homePage .collectionsMainContainer .collectionsCards .collectionCard .collectionCardImg img {
  object-fit: cover;
  position: relative;
  width: 100%;
  bottom: 40%;
  transition: transform 0.3s ease;
}
.homePage .collectionsMainContainer .collectionsCards .collectionCard h3 {
  margin-top: 1rem;
  font-size: 2.5rem;
  align-self: center;
  opacity: 1;
  transition: transform 0.3s ease;
}
.homePage .collectionsMainContainer .collectionsCards .collectionCard button {
  color: black;
  font-size: 1.5rem;
  height: 3rem;
  background-image: linear-gradient(#d99a5a, #d99a5a);
  background-size: 100% 0.1em;
  background-position-y: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s linear;
  border: none;
  background-color: transparent;
  margin: auto;
}
.homePage .collectionsMainContainer .collectionsCards .collectionCard:hover h3 {
  opacity: 0.7;
}
.homePage .collectionsMainContainer .collectionsCards .collectionCard:hover img {
  transform: scale(1.1);
}
.homePage .collectionsMainContainer .collectionsCards .collectionCard:hover button, .homePage .collectionsMainContainer .collectionsCards .collectionCard:focus button, .homePage .collectionsMainContainer .collectionsCards .collectionCard:active button {
  background-size: 0% 0%;
  opacity: 0.7;
}
@media (max-width: 550px) {
  .homePage .collectionsMainContainer h1 {
    margin-top: 5rem;
    font-size: 3rem;
    padding-bottom: 3rem;
  }
  .homePage .collectionsMainContainer .collectionsCards .collectionCard {
    margin-bottom: 3rem;
    height: 23rem;
    gap: 0.3rem;
  }
  .homePage .collectionsMainContainer .collectionsCards .collectionCard h3 {
    margin-top: 0.5rem;
    font-size: 2rem;
  }
  .homePage .collectionsMainContainer .collectionsCards .collectionCard button {
    font-size: 1.3rem;
    height: 1.8rem;
    background-size: 100% 0.05em;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */